DirectoryIndex /index.php

# php_flag display_errors on

<IfModule mod_rewrite.c>
    # use mod_rewrite for pretty URL support
    RewriteEngine on
    # If a directory or a file exists, use the request directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Otherwise forward the request to index.php
    RewriteRule . index.php

    # ...other settings...
</IfModule>

ErrorDocument 500 "Application error. Yii application failed to start properly"